.main-nav-aside
{
  height: 100vh; 
  width: 135px; 
  box-shadow: 0 5px 3px black;
  float: left;
}
.main-nav-aside a
{
	display: block;
	text-decoration: none;
	color: black;
	text-align: center;
	padding: 20px;
}
.main-nav-aside img
{
	margin-left: 45px;
	margin-bottom: 20px;
}
.main-nav-aside a:hover
{
		text-decoration: none;
		color: black;
}
.main-nav-aside i 
{
	display: block;
	text-align: center;
}
.main-nav-aside #click
{
	background-color: lightblue;
	border-left: 3px solid rgb(51, 51, 255);
}
.form-group input
{
		width: 50%;
		margin: 50px 0px 20px 150px;
		border: none;
		outline: none;
		background-color: rgb(242, 242, 242);
		padding: 6px;
}
::placeholder
{
	font-weight: bold;
}
.videos-div h4,span
{
	margin-left: 40px;
	margin-top: 95px;
}
.body-section h5
{
		margin-left: 600px;
		margin-bottom: 40px;
}
.body-section label
{
	margin-left: 200px;
	font-weight: bold;
}